<mat-card class="cadastro mat-elevation-z3">
    <mat-card-title class="title">Cadastro Servidor</mat-card-title>
    <form class="form">
        <mat-form-field >
            <input matInput placeholder="Nome completo">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Cpf">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Orgão">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Matricula">
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="createBeneficiario()" color="primary">
        Salvar
    </button>
</mat-card>