<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" 
                mode= "side" 
                opened fixedInViewport="true" 
                fixedTopGap="64" 
                fixedBottomGap="64">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/">
                <i class="material-icons">
                    home
                </i>
                Início
            </a>
            <!-- <a mat-list-item routerLink="/cadastro">
                <i class="material-icons">
                    add
                </i>
                Cadastro
            </a> -->
            <a mat-list-item routerLink="/beneficio">
                <i class="material-icons">
                    attach_money
                </i>
                Beneficio
            </a>
            <a mat-list-item routerLink="/movimentacao">
                <i class="material-icons">
                    compare_arrows
                </i>
                Movimentação
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
