<mat-card class="beneficio mat-elevation-z3">
    <mat-card-title class="title">Beneficio de aposentadoria</mat-card-title>
    <form class="form">
        <mat-form-field >
            <input matInput placeholder="Nome completo">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Cpf">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Orgão">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Matricula">
        </mat-form-field>
        <mat-form-field>
            <mat-select>
                <mat-option value="1">Tempo de trabalho</mat-option>
                <mat-option value="2">Aposentadoria por idade</mat-option>
                <mat-option value="3">Invalidez</mat-option>
            </mat-select>
        </mat-form-field>
    </form>
    <button mat-raised-button color="primary">
        Salvar
    </button>
</mat-card>