.beneficio {
    background-color: rgb(220, 220, 220);
    height: 400px;
}

.beneficio .title {
    font-size: 1rem;
    font-weight: 450;
    line-height: 1.1;
    color: rgb(128,128,128);
}

.form {
    display: flex;
    flex-direction: column;
    height: 340px;
}

.div-matricula mat-form-field {
    width: 300px;
}

.div-form mat-form-field{
    margin-right: 20px;
    width: 200px;
}