<mat-card class="beneficio mat-elevation-z3">
    <mat-card-title class="title">Beneficio de aposentadoria</mat-card-title>
    <form class="form" >
        <div class="div-matricula">
            <mat-form-field>
                <label>Matricula </label>
                <input 
                    id="matricula"
                    matInput 
                    [(ngModel)]="beneficio.beneficiario.Matricula"
                    name="Matricula">
            </mat-form-field>
                <a>
                    <button mat-raised-button (click)="buscarBeneficio()" color="primary">
                        <i class="material-icons">
                            search
                        </i>
                    </button>
                </a>
        </div>
        <mat-form-field >
            <label>Nome </label>
            <input 
                class="input-nome"
                id="nome"
                matInput 
                [(ngModel)]="beneficio.beneficiario.Nome"
                name="Nome" >
                {{servidor.nome}}
        </mat-form-field>
        <mat-form-field>
            <label>Cpf: </label>
            <input 
                id="cpf"
                matInput 
                [(ngModel)]="beneficio.beneficiario.Cpf"
                name="Cpf">
                {{servidor.cpf}}
        </mat-form-field>
        <div class="div-form">
            <mat-form-field>
                <label>Orgão </label>
                <input 
                    id="orgao"
                    matInput 
                    [(ngModel)]="beneficio.beneficiario.Orgao"
                    name="Orgao">
                    {{servidor.orgao}}
            </mat-form-field>
            <mat-form-field>
                <label>Tipo Beneficio </label>
                <input 
                *ngIf="servidor.descricaoTipoBeneficio !== ''"
                matInput 
                name="TipoBeneficio"
                id="tipoBeneficio"/>
                {{servidor.descricaoTipoBeneficio}}

                <mat-select [(ngModel)]="beneficio.DescricaoTipoBeneficio" 
                            name="TipoBeneficio"
                            id="tipoBeneficio" 
                            *ngIf ="servidor.descricaoTipoBeneficio === ''">
                    <mat-option value="Tempo de trabalho">Tempo de trabalho</mat-option>
                    <mat-option value="Aposentadoria por idade">Aposentadoria por idade</mat-option>
                    <mat-option value="Aposentadoria por idade">Invalidez</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </form>
    <button mat-raised-button (click)="createBeneficio()" color="primary">
        <i class="material-icons">
            save
        </i>
        Salvar
    </button>
</mat-card>