.documento {
    background-color: rgb(220, 220, 220);
    height: 400px;
}

.documento .title {
    font-size: 1rem;
    font-weight: 450;
    line-height: 1.1;
    color: rgb(128,128,128);
}

.form {
    display: flex;
    width: 300px;
    flex-direction: column;
}

.div-file {
    margin-bottom: 30px;
}